* {
    color: #050f0f;
    font-family: "Jura", sans-serif;

    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    background-color: #f0fafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    background-color: #050f0f;
    color: #f0fafa;
    font-size: 0.75rem;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}

a {
    color: #f0fafa;
}

h1 {
    background-color: transparent;
    color: #f0fafa;
    font-weight: normal;
}

h1 > b {
    background-color: transparent;
    color: #f0fafa;
}

p {
    font-weight: bold;
}

form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

input,
select {
    background-color: transparent;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

label {
    font-weight: bold;
}

#banner {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
    background-image: linear-gradient(
            to bottom,
            transparent,
            rgba(53, 135, 164, 0.73)
        ),
        url("./assets/bannerpic.jpg");
    background-size: cover;
    font-size: 2rem;
    min-height: 35vh;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

#submit {
    font-weight: bold;
    margin-top: 15px;
    padding: 5px;
}

#submit:hover {
    background-color: #3587a4;
    color: #88ccf1;
}

.display-modal {
    align-items: center;
    background-image: linear-gradient(to bottom, #88ccf1 50%, transparent);
    /* background-color: #88ccf1; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 1%;
    min-height: 20vh;
    visibility: hidden;
    width: 100%;
}

.vis {
    visibility: visible;
}

.modal-head {
    align-items: center;
    background-color: #88ccf1;
    display: flex;
    height: 125%;
    justify-content: space-between;
    width: 100%;
}

.modal-x {
    align-items: flex-end;

    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    width: fit-content;
}

.X {
    background-color: #88ccf1;
    color: #a690a4;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
}

.X:hover {
    color: #d34e24;
}

.results {
    background-color: #88ccf1;
    justify-content: center;
    padding-left: 2.5%;
    text-align: left;
    width: 100%;
}

#pic {
    background-color: #3587a4;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 1rem;
    width: 95%;
}

img {
    border: #88ccf1 2px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #050f0f;
    height: 100px;
    min-width: 150px;
    margin: 15px;
    object-fit: cover;
}
