* {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input,
select {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
