* {
    margin: 0;
    padding: 0;
    color: #050f0f;
    font-family: "Jura", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0fafa;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-weight: normal;
    color: #f0fafa;
    background-color: transparent;
}

h1 > b {
    background-color: transparent;
    color: #f0fafa;
}

p {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

input,
select {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: transparent;
}

label {
    font-weight: bold;
}

#banner {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
    background-image: linear-gradient(
            to bottom,
            transparent,
            rgba(53, 135, 164, 0.73)
        ),
        url("./assets/bannerpic.jpg");
    background-size: cover;
    font-size: 2rem;
    min-height: 35vh;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

#submit {
    margin-top: 15px;
    font-weight: bold;
    padding: 5px;
}

#submit:hover {
    background-color: #3587a4;

    color: #88ccf1;
}

.display-modal {
    background-color: #88ccf1;
    /* border: #3587a4 5px solid;
    border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 1%;
    min-height: 20vh;
    visibility: hidden;
    width: 100%;
}

.vis {
    visibility: visible;
}

.modal-head {
    background-color: #88ccf1;
    width: 100%;
    height: 125%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-x {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    text-align: right;
    width: fit-content;
    background-color: #88ccf1;
}

.X {
    color: #7e4e60;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #88ccf1;
}

.X:hover {
    color: #3587a4;
}

.results {
    width: 100%;
    background-color: #88ccf1;
    text-align: left;
    justify-content: center;
    padding: 0 0 0 2.5%;
}

#pic {
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #3587a4;
    border-radius: 10px;
    margin-bottom: 1rem;
}

img {
    height: 100px;
    object-fit: cover;
    min-width: 150px;
    margin: 15px;
    border: #88ccf1 2px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #050f0f;
}
